<div>
    <h1>Login</h1>
    <div id="login-container"></div>
</div>
<script>
    window.corbadoLoadPromise.then(() => {
        const loginContainer = document.getElementById("login-container");
        Corbado.mountAuthUI(loginContainer, {
            onLoggedIn: () => {
                window.location.href = "/api/auth/handlelogin";
            },
            initialBlock: "login-init"
        });
    });
</script>