<div>
    <h1>Onboarding</h1>
    <h2>Choose your city</h2>
    <form id="city-form" method="post" action="/api/user/city">
        <input type="text" name="city" />
        <button type="submit">Finish onboarding</button>
    </form>
</div>